<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf 8">
    <title>Lender Maintenance</title>
    <link rel="stylesheet" href="./lender-page.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <script src="https://kit.fontawesome.com/9829453259.js" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
</head>

<body ng-app="lenderApp" ng-controller="lenderCtrl">

    <div class="container">
        <div ng-show="isLoading" class="loading-spinner">
            <img src="./assets/spinner.svg" alt="spinner">
        </div>
        <div class="top-banner">
            <img class="logo" src="./assets/infynity_logo.png" alt="logos">
            <div class="user-area">
                <div class="avatar-wrapper">
                    <i class="fas fa-user-circle"></i>
                </div>
                <span class="user-name">Kevin Nguyen</span>
            </div>

        </div>
        <div class="lender-maintenance-area">
            <h2 class="table-title">Lender Maintenance</h2>
            <div class="divider"><span>divider</span></div>
            <table class="lender-table">

                <tr class="first-header">
                    <th>Bank Code</th>
                    <th>Display Name</th>
                    <th>Type</th>
                    <th colspan="3" class="commission-header">Commission</th>
                    <th class="balance-multiplier-header">Balance Multiplier</th>
                    <th>Active</th>
                    <th>Hide</th>
                    <th>Edit</th>
                </tr>
                <tr class="second-header">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Upfront</th>
                    <th>Trail High</th>
                    <th>Trail Low</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>



                <tr ng-repeat="lender in currentLenderBatch" class="table-row">
                    <td class="bold-code">{{lender.attributes.code}}</td>
                    <td>{{lender.attributes.name}}</td>
                    <td>{{lender.attributes.type}}</td>
                    <td>%{{lender.attributes.upfont_commission}}</td>
                    <td>%{{lender.attributes.high_trail_commission}}</td>
                    <td>%{{lender.attributes.low_trail_commission}}</td>
                    <td>{{lender.attributes.balance_multiplier}}</td>
                    <td><input type="checkbox" ng-checked="lender.attributes.is_active" disabled="true"></td>
                    <td><input type="checkbox" ng-checked="lender.attributes.is_hidden" disabled="true"></td>
                    <td ng-click="showEditDialog(lender)">
                        <i class="fas fa-pencil-alt"></i>
                        <span class="edit-link">Edit</span>
                    </td>
                </tr>
            </table>
            <div class="pagination" ng-show="allLenders.length > PAGE_SIZE">
                <a ng-show="currentPageIndex !== 0" href="#" ng-click="onPrev()">&laquo;</a>
                <a ng-repeat="i in pageIndexList" href="#" ng-click="onPageChange(i)"
                    ng-class="{'active': i === currentPageIndex}">{{i + 1}}</a>
                <a ng-show="currentPageIndex+1 < pageIndexList.length" href="#" ng-click="onNext()">&raquo;</a>
            </div>
        </div>
    </div>

    <script src="lenderApp.js"></script>
    <script src="lenderCtrl.js"></script>
</body>

</html>